@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;

}
body{
    background-image: url(assets/background.png);

}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.textList{
    font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;

    font-size: 22px;
    color: #6548AC ;
}