@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;

}

body{

    background-image: url(assets/background.png);
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
.text-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;



}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.cont-tree{
    margin-left: auto;
    padding: 0;
    margin: 0;
   
    display: flex;
    align-items: end;
}

.cont-mono{
    margin: 0 auto  ;
    padding: 0;
    margin: 0;
}

.startnav{
border: 1px solid;

}

.purple-tree0{

    display: block;   /* remove espaço invisível */
    width: 100%;      /* ocupa a largura total */
    height: auto;     /* mantém proporção */
    margin: 0;        /* sem margens */
    padding: 0;       /* sem espaçamento interno */
}

.primeiroTexto{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 23px;
    color: #6548AC ;

}

.image{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

}

.image1{
    width: 200px;
    height: auto;
    padding-right: 5%;

}

.text2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
    width: 100%;

}

.segundoTexto{
    font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
    max-width: 60%;
  color: #6548AC ;

  padding-left: 5%;
    padding-top: 5%;
}

.info{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

}

.infoInvite{
    padding-right: 8%;
    width: 300px;

}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding-top: 15%;
    margin-left: 5% ;
    margin-right: 5%;

}

.Icon{
    width: 68px;
    height: auto;

}

.purple-tree0{
    width: 300px;

}

.bluetree{
    width: 290px;

}

.FooterImg{
    display: flex;
    justify-content: center;
    align-items: baseline;

}

.footerimg1{
    width: 500px;

}