@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
     box-sizing: border-box;

}
main{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;

}

body{

    background-image: url(assets/background.png);
    background-size: cover;
    padding: 0%;
    margin: 0%;

}
.text-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;



}
.nav-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100vw;

    max-width: none;
}

.cont-tree{
    margin-left: auto;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    align-items: end;
}

.cont-mono{
    display: flex;
    margin: 0 auto  ;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
    left: 35%;

    height: 35%;
}

.startnav{

}

.purple-tree0{
    width: 100%;
}

.primeiroTexto{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    color: #6548AC ;

}

.image{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    border: 1px solid;


}

.image1{
    right: 0;
    position: absolute;
    width: 40%;
    z-index: 10;
    border: 1px solid;
    padding: 0;
}

.text2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100vw;
}

.segundoTexto{
    font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
    width: 100%;
  color: #6548AC ;

  padding-left: 5%;
    padding-top: 5%;

}

.info{
      position: relative;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

.infoInvite{
     position: absolute;
     z-index: 10;
     padding-right: 8%;
     width: 230px;
     right: 0%;

}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding-top: 20%;
    padding-bottom: 15%;
    margin-left: 5% ;
    margin-right: 5%;

}

.Icon{
    width: 68px;
    height: auto;

}

.bluetree{
    position: relative;
    width: 50%;
    border: 1px solid;
    z-index: 1;

}

.imgFooter{
    display: flex;
    justify-content: center;
    width: 50vw;
}

.purple-tree1{
    max-width: 50%;
}